.drag-left {
  height: 400px;
  background: #f0f;
  float: left;
  line-height: 400px;
  text-align: center;
  font-size: 30px;
}
.drag-right {
  height: 400px;
  background: #0ff;
  float: left;
  line-height: 400px;
  text-align: center;
  font-size: 30px;
}
.drag-line {
  width: 5px;
  height: 400px;
  position: absolute;
  border-left: 5px solid #000;
}