@import '../../style/mixin.scss';

.home-main {
  width: 100%;
  height: 100%;
  color: $font-color;
  // background: #f1f1f1;
  background: rgba($color: #fff, $alpha: 0.7);
  background-size: cover;
  // opacity: .5;
}
.home-header {
  width: 100%;
  max-width: 1200px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $font-color;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 12px;
  box-sizing: border-box;
}