@font-face {
  font-family: 'iconfont';  /* project id 357986 */
  src: url('//at.alicdn.com/t/font_357986_i6mvelsv2uunxw29.eot');
  src: url('//at.alicdn.com/t/font_357986_i6mvelsv2uunxw29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_357986_i6mvelsv2uunxw29.woff') format('woff'),
  url('//at.alicdn.com/t/font_357986_i6mvelsv2uunxw29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_357986_i6mvelsv2uunxw29.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xd-ant-user:before {
  content: '\e600'
}
.xd-banner-add:before {
  content: '\e60e'
}
.xd-shandian:before {
  content: '\e615'
}
.xd-fengche:before {
  content: '\e611'
}