@font-face {
  font-family: 'iconfont';  /* project id 357986 */
  src: url('//at.alicdn.com/t/font_9v7nlb7zkiqz1tt9.eot');
  src: url('//at.alicdn.com/t/font_9v7nlb7zkiqz1tt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_9v7nlb7zkiqz1tt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_9v7nlb7zkiqz1tt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_9v7nlb7zkiqz1tt9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.re-ant-user:before {
  content: '\e600'
}