$font-normal: 22px;

$font-color: #333;
$font-white: #fff;

$bg-color-normal: #1890ff;

.content-red-color {
  color: rgb(72, 75, 236);
  margin: 8px 0;
  display: inline-block;
}
.personal-make-color {
  color: rgb(248, 184, 66);
  font-size: 38px;
  font-weight: 500;
}
.logo-color {
  color: rgb(40, 182, 238);
  font-size: 30px;
}
.webkit-color {
  color: #f00;
}
